.git
.github
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache

.env
.env.*
!.env.example
client_secret.json
generate_token.py
db.sqlite3
celerybeat-schedule
celerybeat.pid

media/
staticfiles/

*.md
.vscode
.idea

docker-compose.yml
Dockerfile
.dockerignore
