[settings]
SECRET_KEY=habhabah
DEBUG=True
ALLOWED_HOSTS=['*']
USE_Postgres = False
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=1234567
DB_HOST=127.0.0.1
DB_PORT=5432
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_CUSTOM_DOMAIN=
CELERY_BROKER_URL=redis://127.0.0.1:6379
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
FRONTEND_URL=
SENTRY_DSN=
